<div class="navbar">
    <div>
        <img src="/img/admin2.png" class="logo student_logo" >
        <p class="logged"><%= admin.username %></p>
    </div>
    <div class="overlay" id="myNav">
         
        <a href="javascript:void(0)" class="closebtn navOp" onclick="closeNav()">&times;</a>
        
        <div class="overlay-content">
            <div class="flex">
                <ul>
                    <li class="navOp" id="home"><a href="/admin">Home</a></li>
                    <li class="navOp" id="complaints"><a href="/admin/complaints">Complaints</a></li>
                    <li class="navOp" id="menu">
                        <div class="nav-btn" >Edit Menu
                            <div class="dropdown">
                              <a href="/admin/menu/SVBH" class="dropdown-item">SVBH</a>
                              <a href="/admin/menu/DJGH" class="dropdown-item">DJGH</a>
                              <a href="/admin/menu/Tilak" class="dropdown-item">Tilak</a>
                              <a href="/admin/menu/KNGH" class="dropdown-item">KNGH</a>
                              <a href="/admin/menu/Patel" class="dropdown-item">Patel</a>
                            </div>
                    </li>
                    <li class="navOp" id="about"><a href="/admin/about">About</a></li>
                    <!-- <li><a href="#">Home</a></li> -->
                </ul>
            </div>
            
        </div>
    </div> 

      <button id="navbutton" style="font-size:30px ; cursor:pointer; color: rgb(255, 255, 255);font-weight: lighter;" type="button" onclick="openNav()"><span style="border-radius: 6px;"></span>&#9776;</button>  

</div>